# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/
Vid/Screen Recording 2022-04-13 at 4.03.48 PM.mov
Vid/Screenshot 2022-04-13 at 3.40.47 PM.png
Vid/Screenshot 2022-04-13 at 3.41.00 PM.png
Vid/Screenshot 2022-04-13 at 3.42.52 PM.png
Vid/Screenshot 2022-04-13 at 3.44.15 PM.png
Vid/Screenshot 2022-04-13 at 3.45.35 PM.png
Vid/Screenshot 2022-04-13 at 3.47.43 PM.png
Vid/Screenshot 2022-04-13 at 3.49.39 PM.png
Vid/Screenshot 2022-04-13 at 3.50.53 PM.png
Vid/Screenshot 2022-04-13 at 3.52.21 PM.png
Vid/Screenshot 2022-04-13 at 3.53.32 PM.png
Vid/Screenshot 2022-04-13 at 3.54.56 PM.png
Vid/Screenshot 2022-04-13 at 3.55.37 PM.png
Vid/Screenshot 2022-04-13 at 3.56.04 PM.png
Vid/Screenshot 2022-04-13 at 3.57.56 PM.png
Vid/Screenshot 2022-04-13 at 4.00.42 PM.png
Vid/jb_demo.mp4
Vid/Ben_Video.mp4
